<body>
<nav id="navbar" class="navbar">
    <ul>
      <li><a href="/equipment/">Home</a></li>
      <li><a href="/equipment/new">Add A New Equipment</a></li>
      <form action="/users/signout" method="GET" id="signOutForm">
        <button type="submit" class="btn btn-link" id="signOutButton"> <i class="bi bi-box-arrow-right"></i> Sign Out</button>
      </form>
    </ul>
</nav>      