
     
     <!-- ============ Head and Header for welcome page ============ -->
     <%- include ('./partials/welcomeHeader.ejs') %>

        <div class="container d-flex flex-column  align-items-center">
            <h2 class="text-center mb-3 main-title">Welcome ! Please Sign up if you are a new user !</h2>
            <!-- Trigger the modal with a button -->
            <button type="button" class="text-center btn btn-primary btn-lg mb-3" data-toggle="modal" data-target="#signUp">Sign up
            </button>

            <h4 class="text-center mb-3 main-title">Already a user ?   <button type="button" class="text-center btn btn-link btn-lg" data-toggle="modal" data-target="#signIn">Please Sign in
            </button></h4>
         

            <!-- Modal Signup-->
            <div class="modal fade" id="signUp" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Sign up</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/users/signup" method="POST">
                                <div class="form-group">

                                    <!-- <label for="userName"> Username</label> -->
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="userName-addon"><i
                                                    class="bi bi-person-circle"></i></span>
                                        </div>
                                        <div id="'username-message-container'"></div>
                                        <input type="text" class="form-control" id="userName" name="userName"
                                            placeholder="Enter your Username" aria-label="userName"
                                            aria-describedby="userName-addon" required>
                                    </div>
                                </div>



                                <div class="form-group mb-3">
                                    <!-- <label for="email">Email address</label> -->
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="email-addon"><i
                                                    class="bi bi-envelope"></i></span>
                                        </div>
                                        <input type="email" class="form-control" id="email" name="email"
                                            placeholder="Enter your email" aria-label="Email address"
                                            aria-describedby="email-addon" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- <label for="password">Password</label> -->
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="password-addon"><i
                                                    class="bi bi-lock-fill"></i></span>
                                        </div>
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="Enter your password" aria-label="Password"
                                            aria-describedby="password-addon" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- <label for="confirmPassword">Confirm Password</label> -->
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="confirmPassword-addon"><i
                                                    class="bi bi-key-fill"></i></span>
                                        </div>
                                        <input type="password" class="form-control" id="confirmPassword"
                                            name="confirmPassword" placeholder="Confirm your password"
                                            aria-label="Confirm Password" aria-describedby="confirmPassword-addon"
                                            required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="role">Select your Role</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="role-addon"><i
                                                    class="bi bi-person-badge"></i></span>
                                        </div>
                                        <select class="custom-select" id="role" name="role" aria-label="Role"
                                            aria-describedby="role-addon" required>
                                            <option value="">Select your role</option>
                                            <option value="admin">Admin</option>
                                            <option value="visitor">Visitor</option>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>


            <!-- Modal Signin-->
            <div class="modal fade" id="signIn" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Sign in</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/users/signin" method="POST">
                                <div class="form-group">

                                    <!-- <label for="userName"> Username</label> -->
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="userName-addon"><i
                                                    class="bi bi-person-circle"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="userName" name="userName"
                                            placeholder="Enter your Username" aria-label="userName"
                                            aria-describedby="userName-addon" required>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <!-- <label for="password">Password</label> -->
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="password-addon"><i
                                                    class="bi bi-lock-fill"></i></span>
                                        </div>
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="Enter your password" aria-label="Password"
                                            aria-describedby="password-addon" required>
                                    </div>
                                </div>


                               
                                <button type="submit" class="btn btn-info btn-lg">sign in</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        





     <!-- ============ FOOTER============ -->
     <%- include ('./partials/footer.ejs') %>