<!DOCTYPE html>
<html>
  <head>
	<title>Welcome to Equipment Tracking App</title>
  </head>
  <body>
. . <!-- link to login page-->
	<a href="/users/signup">New User? Please sign up  Here!</a>
	<a href="/users/signin">Already an user? Please sign in  Here!</a>
  </body>
</html>